name: Brew OwnTech Documentation Center
on:
  repository_dispatch:
    types: [trigger-workflow]
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout OwnTech Core repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/Core
          ref: draft-docs
          path: docs/core

      - name: Checkout OwnTech Bootloader repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/bootloader
          ref: docs
          path: docs/bootloader
          sparse-checkout: |
            docs

      - name: Checkout OwnTech Control library repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/control_library
          ref: docs
          path: docs/controlLibrary

      - name: Checkout OwnTech Examples repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/examples
          path: docs/examples

      - name: Checkout OwnTech Tutorials wiki repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/Tutorials.wiki
          path: docs/tutorials

      - name: Checkout OwnTech Twist repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/TWIST
          ref: draft-doc-1.4
          path: docs/twist
          sparse-checkout: |
            docs

      - name: Checkout OwnTech Matlab repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/Owntech-Matlab
          path: docs/Matlab
          sparse-checkout: |
            docs

      - name: Checkout OwnTech OwnPlot repo
        uses: actions/checkout@v4
        with:
          repository: owntech-foundation/OwnPlot
          ref: doc_v1.6.0_2
          path: docs/OwnPlot
          sparse-checkout: |
            docs

      - uses: ssciwr/doxygen-install@v1
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      - name: Install python packages
        run: pip install mkdocs-material mkdoxy pillow cairosvg mkdocs-macros-plugin
      - name: Print mkdocs version
        run: mkdocs --version
      - name: Publish docs
        run: mkdocs gh-deploy --force
